body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

/*---------------- HEADER -----------------*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.page-header {
  /* padding-top: 24px;
  padding-bottom: 24px; */
  border-bottom: 1px solid #e7e9fc;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.contacts {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  /* padding: 24px 0px; */
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.nav-link,
.contacts-link {
  padding: 24px 0;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .nav-link.current{
  position: relative;
} */

.nav-link::after{
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after{
opacity: 1;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* _____________ SECTION-1_______________*/

.hero {
  background-image: url(/images/people-office\ 1-min.jpg);
  overlay:  2E2F42;
  padding-top: 188px;
  padding-bottom: 48px;
  padding-left: 472px;
  padding: 188px 0 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  margin-bottom: 204px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  color: #404bbf;
}

.hero-btn {
  cursor: pointer;
}

/* _____________ SECTION-2_______________*/

.features {
  padding-bottom: 120px;
  padding-top: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-basis: calc((100% - 3 * 16px) / 6);
  padding: 0;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item {
  width: calc((100% - 3 * 24px) / 4);
  /* display: flex; */
  gap: 24px;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/*________________ SECTION-3 _______________*/

.taste {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-item {
  /* padding: 32px 16px; */
}

.taste-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  /* padding-bottom: 72px; */
  margin-bottom: 72px;
}

.taste-list {
  display: flex;
  gap: 24px;
}

.taste-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.taste-item-image {
}

.container-item {
  padding: 32px 0;
}

.taste-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.taste-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*________________ SECTION-4_______________*/

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  /* padding-bottom: 72px; */
  margin-bottom: 72px;
}

.portfolio-item {
  /* display: flex; */
  gap: 24px;
  width: calc((100% - 48px) / 3);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item-image {
  margin-top: 0%;
  display: block;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.container-portfolio {
  border-top: none;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*---------------- FOOTER -----------------*/

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;.
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}